<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">ACONEX Todo</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Task description" ng-model="item.description" tabindex="1">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="todoController.addItem(item);">New Task</button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div ng-repeat="item in todoController.items">{{item.description}}</div>
  </div>
</div>

<div class="footer">
  <p>So, are there many variations on the todo app that are actually useful?</p>
</div>
