<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">ACONEX Todo</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal" name="newTask">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Task description" ng-model="description" tabindex="1" ng-keypress="$event.keyCode === 13 ? todoController.addItem(description) : null;">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="todoController.addItem(description);">New Task</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr ng-repeat="item in todoController.items | orderBy:timestamp:false">
        <td ng-click="todoController.removeItem(item);">
          {{item.description}}
        </td>
        <td>{{item.timestamp | date:'medium'}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="footer">
  <p>Have coffee, full steam ahead!</p>
</div>
