<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active" title="This nav link does nothing, but in theory might return to home page from another section of the application"><a ng-href="#">Home</a></li>
    <li popover-placement="bottom" popover="A simple todo app" popover-trigger="mouseenter"><a ng-href="#">About</a></li>
  </ul>
  <h3 class="text-muted">ACONEX Todo</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form" class="form-horizontal" name="newTask">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Task description"
          ng-model="todoController.description" tabindex="1"
          ng-keypress="$event.keyCode === 13 ? todoController.addItem(todoController.description) : null;"
        >
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button"
            ng-click="todoController.addItem(todoController.description);"
          >
            New Task
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<p></p>

<div class="row" ng-show="!todoController.items.length">
  <div class="col-md-12">
    <div class="alert alert-info">
      You have no tasks. Create one by typing in the field above. Press Enter or click New Task when you're finished.
    </div>
  </div>
</div>

<div class="row" ng-show="todoController.items.length">
  <div class="col-md-6">
    <div class="btn-group">
      <button class="btn btn-primary" btn-radio="false" ng-model="todoController.tf.done">
        Outstanding Tasks
      </button>
      <button class="btn btn-primary" btn-radio="" ng-model="todoController.tf.done">
        All Tasks
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <strong class="well well-sm pull-right text-success">
      Completed Items <span class="badge">{{todoController.doneItems}}</span>
    </strong>
  </div>
</div>

<p></p>

<div class="row" ng-show="todoController.items.length">
  <div class="col-md-12">
        <table class="table table-hover">
          <tr ng-repeat="item in todoController.items|orderBy:['done','-priority','timestamp']|filter:todoController.tf"
            ng-class="{'success': item.done, warning: item.priority > 0}"
            ng-mouseenter="item.hover=true;"
            ng-mouseleave="item.hover=false;"
          >
            <td ng-class="{'text-muted':item.done,'item-done':item.done}">
              <span class="glyphicon glyphicon-ok" ng-show="item.done"></span>
              <span class="glyphicon glyphicon-exclamation-sign" ng-show="item.priority"></span>
              {{item.description}}
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs" ng-click="todoController.setDone(item);" title="Done"
                  ng-disabled="item.done">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="todoController.removeItem(item);" title="Delete">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="todoController.adjustPriority(item,true);"
                  ng-disabled="item.done" title="Important">
                  <span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
                </button>
              </div>
            </td>
          </tr>
        </table>
  </div>
</div>

<div class="footer">
  <p>Have coffee, full steam ahead!</p>
</div>
